---
title: Puppy Logger | About
layout: staticBase.njk
permalink: "/about/index.html"
description: Information about who made puppylogger.com and why.
---

<main
  class="flex-grow w-full max-w-xl bg-white p-6 rounded-lg shadow space-y-4"
>
  <h1 class="text-2xl font-bold">About Puppy Logger</h1>
  <h2 class="text-xl font-bold">My story</h2>
  <p>
    <strong>In January 2025, I brought home my first puppy.</strong> I had
    had pets before (even dogs) but this was my first <i>puppy</i> puppy:
    eight weeks old, tiny, and adorable.
  </p>

  <p>
    <strong>My wife and I had done plenty of research beforehand.</strong>
    We watched countless YouTube videos, scoured Reddit and other forums,
    and read training books. We were determined to be super puppy parents!
  </p>

  <p>
    One thing that almost every dog trainer recommended was to
    <strong>record everything your puppy does</strong> for at least the
    first few weeks.
  </p>

  <p class="font-bold">Why did so many trainers recommend this?</p>

  <p>
    Well, in addition to being impossibly cute, puppies are exceptionally
    needy! Not enough food or sleep? Good luck controlling that little ball
    of energy. Not enough bathroom breaks throughout the day? Have fun
    cleaning up messes constantly.
  </p>

  <p class="font-bold">
    If you try to do it from memory, you'll learn pretty quick how easy it
    is to forget...
  </p>

  <p class="text-gray-600">
    <i
      >"Did the puppy wake up 30 minutes ago, or an hour ago? Is it time for
      another potty break? How many times have they pooped today? Have they
      had enough exercise already? Is it time for another nap?"</i
    >
  </p>

  <p>
    <strong>This can quickly get out of hand,</strong> so it's important to
    write down every time your puppy eats, sleeps, plays, or uses the
    bathroom so that you can <strong>set your puppy up for success.</strong>
  </p>

  <p>
    For my puppy, I kept track of this on a basic notes app on my phone. It
    worked...<i>okay-ish</i>. Typing every line out by hand wasn't terrible,
    but it wasn't convenient either, especially when holding my phone in one
    hand and the leash of a wild puppy in another. Writing just one entry --
    date, time, category, custom notes -- took at least a minute or two each
    time. It was tedious enough that it soon became easy to forget...or to
    put it off until later. It wasn't long before the puppy log fell by the
    wayside.
  </p>

  <p>
    At the time, I wished I had a tool where I could track every puppy
    activity with the tap of a button.
    <strong>That's why I made this tool.</strong> It's a simple, no frills
    solution to logging your puppies' daily activities. It's meant to get
    out of your way and to do one thing very well. It isn't some fancy web
    service running in the cloud, requiring yet another username and
    password to remember, taking your data and doing who-knows-what with it.
    All your data stays on your device. Maybe one day this tool will evolve
    into something more advanced, but for now, the beauty is in the
    simplicity.
  </p>

  <p>
    I hope you enjoy this tool and that it helps you through your new puppy
    journey and beyond!
  </p>

  <h2 class="text-xl font-bold">Meet the team</h2>

  <p class="text-gray-600"><i>Maybe "team" is a stretch...</i></p>

  <p>
    My name is Josh. I am a software engineer by day, dog parent and code
    tinkerer by night. I made this site by myself in a weekend and have been
    adding small improvements here and there. It's been a fun little side
    project!
  </p>

  <p>
    If you want to support this project, keep an eye out for a virtual tip
    jar coming soon!
  </p>
  <p class="text-gray-600">Thanks for using Puppy Logger—happy logging!</p>
</main>