---
title: Puppy Logger | Privacy Policy
layout: staticBase.njk
permalink: "/privacy/index.html"
description: "Privacy policy for puppylogger.com. This explains how we use cookies and manage your data."
---

 <main class="flex-grow w-full max-w-xl space-y-6">
  <!-- Privacy Policy Card -->
  <article class="bg-white p-6 rounded-lg shadow mb-6">
    <h1 class="text-2xl font-bold mb-4">Privacy Policy</h1>

    <h2 class="text-lg font-bold mb-2">Your Data</h2>
    <p class="text-sm mb-4">
      This site stores all your puppy activity data in your browser’s local
      storage. None of your puppy data is transmitted across the internet.
    </p>
    <p class="text-sm mb-4">
      We do not collect, store, or transmit any personal data of any kind.
    </p>

    <h2 class="text-lg font-bold mb-2">Cookies</h2>
    <p class="text-sm mb-4">
      The only cookies used on this site are for Google Analytics. We
      collect anonymized usage data so that we can measure how our website
      is used and to make improvements to the user experience.
    </p>
    <p class="text-sm mb-4">
      Clicking "Decline" on the consent banner at the bottom of the page
      will let you opt out of anonymized data collection. If you don't see
      the banner, then you must have consented or declined already.
    </p>

    <p id="opt-back-in" class="text-sm mb-2 font-bold text-black"></p>

    <h2 class="text-lg font-bold mb-2">Ads & Promotions</h2>
    <p class="text-sm mb-4">
      If advertisements are displayed, third-party advertisers may use
      cookies to serve ads based on your prior visits.
    </p>
    <p class="text-sm mb-4">
      If product links are displayed, we may earn a commission on qualifying
      purchases, but we do not track any purchase details.
    </p>
  </article>
</main>